.note.paper-container
  .note-options
    = link_to '', edit_note_path(note), class: 'icon-edit'
    = link_to '', note, method: :delete, confirm: 'Are you sure you want to delete this note?', class: 'icon-trash'
  .note-title= link_to note.title, note
  .note-preview.paper-container
    %pre= truncate(note.content, length: 100)
  .note-footer
    .note-tag
      %i.icon-tag
      -if !note.label.nil?
        = note.label.name
      - else
        None
    = "Created #{time_ago_in_words(note.created_at)} ago"
    = note.hits