.note.paper-container
  .note-title= link_to note.title, note
  .note-preview.paper-container-inset
    %pre= truncate(note.content, length: 100)
  .note-tags
    %i.icon-tag
    -if !note.label.nil?
      = note.label.name
    - else
      None
  = "Created #{time_ago_in_words(note.created_at)} ago"
  = note.hits