.span3
  #dashboard-sidebar.paper-container
    %section#dashboard-user
      #dashboard-user-left
        = image_tag current_user.gravatar_url
      #dashboard-user-right
        %h1#dashboard-username= link_to current_user.username, current_user
    %section#dashboard-nav
      %hr
      %ul.nav.nav-list
        %li
          %a{href: root_path}
            %i.icon-big-home
            Home
        %li
          %a{href: dashboard_notes_path}
            %i.icon-big-notes
            My Notes
        -#%li
          %a{href: root_path}
            %i.icon-big-tags
            My Labels
        -#%li
          %a{href: root_path}
            %i.icon-big-eye-open
            Explore
    %section#dashboard-labels
      %hr
      %ul
        - current_user.labels.each do |l|
          %li
            %a{href: label_path(l)}
              %i.icon-tag
              = l.name
    %hr
    = form_for(Label.new, as: :label, url: labels_path) do |f|
      = f.text_field :name, placeholder: 'New Label', class: 'fluid-input'