.span3
  #dashboard-sidebar.paper-container
    %section#dashboard-user
      #dashboard-user-left
        = link_to image_tag(current_user.gravatar_url), current_user
      #dashboard-user-right
        %div= "#{current_user.notes.count} notes"
        %div= "#{current_user.labels.count} labels"
    %section#dashboard-nav
      %hr
      %ul.nav.nav-list
        %li
          %a{href: root_path}
            %i.icon-big-home
            Home
        -#%li
          %a{href: root_path}
            %i.icon-big-tags
            My Labels
        -#%li
          %a{href: root_path}
            %i.icon-big-eye-open
            Explore
    %section#dashboard-labels
      %hr
      %ul
        %li
          %a{href: dashboard_notes_path, rel: 'tooltip', title: 'All Notes'}
            %i.icon-file
            All Notes
        %li
          %a{href: label_path('unlabeled'), rel: 'tooltip', title: 'Unlabeled'}
            %i.icon-question-sign
            Unlabeled Notes
      %hr
      %ul
        - if current_user.labels.empty?
          %li No Labels
        - else 
          - current_user.labels.each do |l|
            %li
              %a{href: label_path(l), rel: 'tooltip', title: l.name}
                %i.icon-tag
                = l.name
    %hr
    = form_for(Label.new, as: :label, url: labels_path) do |f|
      = f.text_field :name, placeholder: 'New Label', class: 'fluid-input'