#note-header
  %h1= @note.title
  %h2
    Created by
    = link_to @note.owner.username, @note.owner
    = "#{time_ago_in_words(@note.created_at)} ago"
  -if !@note.tag_list.empty?
    %h2
      - @note.tag_list.each do |tag|
        = link_to tag, tag_path(tag)
  #note-options
    .btn-group
      %button.btn.btn-large.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown'}
        Options
        %span.caret
      %ul.dropdown-menu
        %li= link_to "View Undistracted", undistracted_path(@note)
        %li= link_to "View Raw", note_path(@note, format: :text)
        - if current_user == @note.owner
          %li.divider
          %li= link_to "Edit", edit_note_path(@note)
#note-content.paper-container
  = markdown(@note.content)
-#%h1#raw-note Raw
-#%pre= @note.content