#dashboard.row
  = render 'dashboard/sidebar'
  .span9.stretch-container
    #dashboard-main
      #dashboard-label-header
        = @label.name
        - if !@label.id.nil?
          #dashboard-label-options
            = link_to '', @label, method: :delete, confirm: 'Are you sure you want to delete this label?', class: 'icon-trash'
      #dashboard-note-list
        - if @notes.empty?
          #no-labels
            This label is empty
        - else
          - @notes.each do |note|
            = render 'dashboard/note', note: note
          = will_paginate @notes, class: 'pagination pagination-centered'