.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =# link_to 'Noteorious', root_path, id: 'center-brand'
      = link_to image_tag('/assets/noteorious-logo.png', id: 'logo'), root_path
      .nav-collapse.pull-right
        - if user_signed_in?
          %form.navbar-search.pull-left
            %input.search-query{type: 'text'}
        %ul.nav.pull-right
          - if !user_signed_in?
            %li.divider-vertical
            %li= link_to 'Signup', new_session_path(resource_name)
          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => 'dropdown'} 
              - if user_signed_in?
                = image_tag current_user.gravatar_url, id: 'navbar-user'
                %b#navbar-user= current_user.username
              - else
                %b Hello Guest
              %b.caret
            %ul.dropdown-menu
              - if user_signed_in?
                %li= link_to "My Profile", current_user
                %li= link_to "Edit Profile", edit_user_registration_path
                %li.divider
                %li= link_to "New Note", new_note_path
                %li.divider
                %li= link_to "Sign Out", destroy_user_session_path, method: :delete
              - else
                #signin-dropdown= render 'shared/sign_in_form'
          %li.divider-vertical
          - if user_signed_in?
            %li= link_to 'New Note', new_note_path, id: 'navbar-new-note', class: 'btn btn-primary'
            %li.divider-vertical
          %li
            %button#navbar-new-note.btn.btn-primary{onclick: 'toggleWidth()'}
              View
          %li.divider-vertical