#dashboard.row
  .span3.paper-container
    #dashboard-user.dashboard-section
      #dashboard-user-left
        = image_tag current_user.gravatar_url
      #dashboard-user-right
        %h1#dashboard-username= link_to current_user.username, current_user
        %p= "#{current_user.owned_tags.count} tags"
    .dashboard-section
      %h1 Navigation
      %ul.nav.nav-list
        %li
          %a{href: root_path}
            %i.icon-home
            Explore
        %li
          %a{href: root_path}
            %i.icon-home
            Explore
    .dashboard-section
      %h1 Activity
      %h2 You
      %ul
        - current_user.notes.recent.limit(5).each do |note|
          %li= link_to "#{note.title} - by #{note.owner.username}", note
      %h2 Global
      %ul
        - Note.recent.limit(5).each do |note|
          %li= link_to "#{note.title} - by #{note.owner.username}", note
      %h2 Your Tags
      %ul
        - current_user.owned_tags.each do |tag|
          %li= link_to tag, tag_path(tag.name)
  #dashboard-main.span8.paper-container
    %h1 Activity